.big-article__container {
    margin-top: 100px;
    display: flex;
    width: 100%;
    /* flex-direction: column-reverse; */
    flex-flow: column wrap;
    align-items: center;
}

.big-article__image-wrapper {
    height: fit-content;
}

.big-article__user-actions{
    width:400px;
    display:flex;
    justify-content:flex-end;
}
